.container {
    background-color: #282c34;
    padding: 50px;
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    overflow: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
